:root {
  --white: #ffff;
  --darkbluegreen: #135366;
  --bluegreen: #0b6078;
  --grey: #dbdbdb;
  --lightgrey: #ebebeb;
  --darkgrey: #5d5d5d;
  --black: #000000;
  --red: #ff8080;
  --darkred: #b30000;
  --black-light-color: #707070;
  --yellow: #fbdb65;
  --boxyellow: #ed9e37;
  --blue: #0079bf;
  --green: #50C878;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

/* body {
} */

section {
  width: 100%;
  height: 100vh;
  transition: all 0.5s;
}

.dash_content {
  flex: 1;
  padding: 20px 0 0 50px;
}

.title {
  display: flex;
  align-items: center;
}

.title .text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  color: var(--bluegreen);
}

.appointment_title,
.add_appointment_title,
.transaction_title {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.appointment_title i,
.add_appointment_title i,
.transaction_title i {
  margin-left: 10px;
  padding: 5px 5px;
  border-radius: 20px;
  background-color: var(--darkbluegreen);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.appointment_title .text,
.add_appointment_title .text,
.transaction_title .text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  color: var(--black);
}

.appointment_section {
  display: flex;
  justify-content: space-between;
}

.appointment_table {
  flex: 1;
  margin-right: 20px;
}

.calendar {
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

th,
td {
  font-size: 14px;
  font-weight: 400;
  border: none;
  padding: 5px;
  text-align: left;
}

td {
  border-bottom: 2px solid var(--grey);
}

th {
  align-items: center;
  color: var(--white);
  background-color: var(--bluegreen);
  border-bottom: 2px solid var(--darkbluegreen);
}

.appointment_section {
  display: flex;
  gap: 20px;
}

.appointment_table,
.form_section {
  flex: 1;
}

.input-box-profile {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

.input-box-profile label {
  padding-bottom: 5px;
  width: 95%;
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
}

.input-box-profile input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid var(--black-light-color);
}

.input-box-profile select {
  height: 40px;
  width: 93.5%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid var(--black-light-color);
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

.input-box label {
  padding-bottom: 5px;
  width: 95%;
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
}

.input-box input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid var(--black-light-color);
}

.input-box select {
  height: 40px;
  width: 93.5%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid var(--black-light-color);
}

.date-time-container {
  display: flex;
  gap: 5px;
}

.date-time-container .input-box {
  flex: 1;
}

.date-time-container {
  display: flex;
  gap: 5px;
}

.date-time-container .input-box-profile {
  flex: 1;
}

.date-time-container label {
  width: 90%;
}

.date-time-container input {
  width: 80%;
}

button.disabled {
  opacity: 0.5; /* Adjust the opacity to visually indicate the button is disabled */
  cursor: not-allowed; /* Change cursor to not-allowed to indicate it's not clickable */
  padding: 2px 8px;
  border: none;
  outline: none;
  background-color: var(--red);
}

/* Add styling for pagination */
.pagination {
  position: fixed;
  top: 48%;
  left: 40px;
  padding: 10px;
  border-radius: 4px;
  z-index: 0;
}

.pagination a {
  font-size: 12px;
  display: inline-block;
  padding: 2px 8px;
  margin: 0 4px;
  text-decoration: none;
  color: #000;
  border-radius: 4px;
}

.pagination a.active {
  background-color: var(--bluegreen);
  color: white;
}

.button {
  margin: 15px 0;
}

.button input {
  cursor: pointer;
  padding: 10px 15px;
  display: block;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--bluegreen);
}

.edit-button,
.delete-button {
  cursor: pointer;
  padding: 2px 8px;
  border: none;
  outline: none;
}
/* 
.edit-button{
  background-color: var(--yellow);
} */

.delete-button {
  background-color: var(--red);
}

.transactions {
  margin-top: 70px;
  width: 96%;
}

/* Dentist */
/* Dashboard */

.main_content {
  /* overflow: hidden; */
  padding: 18px 0 0 30px;
}

.main_content header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 1rem;
  position: fixed;
  width: 93%;
  /* z-index: 100; */
}

.main_content header h1 {
  margin-left: 15px;
  color: var(--black-light-color);
}

.main_content .user-wrapper {
  display: flex;
  align-items: center;
}

.main_content .user-wrapper i {
  margin-right: 0.5rem;
  font-size: 30px;
  color: var(--bluegreen);
}

.main_content .user-wrapper p {
  /* display: inline-block; */
  color: var(--darkgrey);
  font-size: 12px;
}

main {
  margin-top: 20px;
  padding: 1rem 0;
  width: 98%;
  min-height: calc(100vh-30px);
}

main .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

main .card-single {
  display: flex;
  justify-content: space-between;
  /* background-color: #0b6078; */
  padding: 1.2rem;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}

main .card-single.box1 {
  background-color: var(--bluegreen);
}

main .card-single.box3 {
  background-color: var(--red);
}

main .card-single.box2 {
  background-color: var(--boxyellow);
}

main .card-single.box4 {
  background-color: var(--blue);
}

main .card-single span {
  font-size: 0.8rem;
}

main .card-single i {
  font-size: 2rem;
}

.dashboard-charts {
  margin: 0 25px 0 25px;
  display: flex;
  gap: 2rem; /* Adjust the gap as needed */
}

.chart {
  border: 1px solid var(--lightgrey);
  border-radius: 5px;
  flex: 1; 
}

/* Adjust the width of individual charts if needed */
#appointmentChart {
  width: 100%;
}

#profitChart {
  width: 100%;
}

.pending-table {
  margin: 0 25px 0 25px;
}

.status-text {
  padding: 2px 15px;
  border-radius: 10px;
}

.status-text.pending {
  background-color: var(--yellow);
}

.status-text.completed {
  background-color: var(--bluegreen);
  color: var(--white);
}

.status-text.cancelled {
  background-color: var(--red);
}

.pagination-pending-table {
  position: fixed;
  bottom: 2%;
  left: 20px;
  padding: 10px;
  border-radius: 4px;
  z-index: 0;
}

.pagination-pending-table a {
  font-size: 12px;
  display: inline-block;
  padding: 2px 8px;
  margin: 0 4px;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-pending-table a.active {
  background-color: var(--bluegreen);
  color: white;
}

/* calendar */
.calendar-section {
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.calendar {
  margin: 0 50px 0 50px;
  display: flex;
  flex-flow: column;
  max-height: 100vh;
  overflow-y: auto;
  align-items: center;
}

.calendar .header .month-year {
  font-size: 20px;
  font-weight: 600;
  color: var(--black-light-color);
  padding: 2rem 0; /* Adjusted padding */
  margin-top: 1rem;
}

.calendar .days {
  display: flex;
  flex-flow: wrap;
  
}

.calendar .days .day_name {
  width: 12.5%; /* Fixed width for 7 days */
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: var(--bluegreen);
}

.calendar .days .day_num {
  display: flex;
  flex-flow: column;
  width: 12.34%;
  border: 1px solid var(--grey);
  padding: 10px;
  font-weight: 500;
  color: var(--black-light-color);
  cursor: pointer;
  min-height: 40px; /* Adjusted min-height */
}

.calendar .days .day_num span {
  display: inline-flex;
  width: 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--darkbluegreen);
}


.event-pending {
  background-color: var(--boxyellow);
  padding: 5px;
  border-radius: 10px;
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 2px;
}

.event-approved {
  background-color: var(--green);
  padding: 5px;
  border-radius: 10px;
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 2px;
}

.event-completed {
  color: var(--bluegreen);
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 2px;
}

.month-year {
  display: flex;
  align-items: center;
  justify-content: center;
}

.month-year a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  margin: 0 40px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--bluegreen);
  border-radius: 5px;
}

.month-year a:hover {
  transition: all 0.2s ease;
  background-color: var(--blue);
}

.patient-table {
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.patient-table h2 {
  margin: 50px 100px 0 100px;
  color: var(--black-light-color);
}

.patients {
  margin: 0 100px 0 100px;
  display: flex;
  flex-flow: column;
  max-height: 100vh;
  overflow-y: auto;
  align-items: center;
}

.view-button {
  cursor: pointer;
  padding: 2px 8px;
  text-decoration: none; /* Remove underline */
  color: var(--black); /* Use the color from the parent */
  background-color: var(--yellow);
}

.view-button {
  background-color: var(--yellow);
}

.view-button i {
  margin-right: 2px;
  font-size: 16px;
}

/* patient information update */
.profile {
  background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.profile-pic i {
  padding: 10px 20px;
  border-radius: 50%;
  background-color: var(--lightgrey);
  color: var(--darkgrey);
  font-size: 80px;
}


.edit_patient_section {
  width: 60%;
}

.edit_patient_section h2 {
  text-align: center;
  margin: 30px 0 0 0;
  color: var(--black-light-color);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.input-box-profile {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  padding-bottom: 15px;
  margin-right: 20px;
}

.input-box-profile label {
  padding: 2px;
  width: 95%;
  color: var(--black-light-color);
  font-weight: 500;
}

.input-box-profile input {
  height: 40px;
  width: 95%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid var(--black-light-color);
}


.gender-option {
  color: var(--grey);
  display: flex;
  align-items: center;
}

.gender-option label {
  margin-right: 20px;
  font-size: 14px;
}

.gender-option input {
  cursor: pointer;
  margin-right: 5px; /* Add some spacing between radio buttons */
}

/* view patient card */
.patient-information {
  background-color: #fff;
  border-radius: 8px;
  padding: 80px 0 20px 0;
  margin: auto auto;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.records {
  margin-top: 50px;
}

.patient-information h2 {
  margin-bottom: 50px;
  text-align: center;
  padding: 20px 10px;
  color: var(--white);
  border-radius: 10px;
  background-color: var(--bluegreen);
  font-size: 24px;
}

.patient-information p {
  padding: 0 20px;
  color:  var(--black);
  font-size: 16px;
  margin: 8px 0;
}

.patient-information p span {
  font-weight: 600;
}


.pagination-patient-table {
  position: fixed;
  bottom: 5%;
  left: 100px;
  padding: 10px;
  border-radius: 4px;
  z-index: 0;
}

.pagination-patient-table a {
  font-size: 12px;
  display: inline-block;
  padding: 2px 8px;
  margin: 0 4px;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-patient-table a.active {
  background-color: var(--bluegreen);
  color: white;
}

.pagination-transaction-table {
  position: fixed;
  bottom: 5%;
  left: 100px;
  padding: 10px;
  border-radius: 4px;
  z-index: 0;
}

.pagination-transaction-table a {
  font-size: 12px;
  display: inline-block;
  padding: 2px 8px;
  margin: 0 4px;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-transaction-table a.active {
  background-color: var(--bluegreen);
  color: white;
}

.approve-button {
  cursor: pointer;
  padding: 2px 5px;
  text-decoration: none; /* Remove underline */
  color: var(--white); /* Use the color from the parent */
  background-color: var(--green);
}

.approve-button i {
  margin-right: 2px;
  font-size: 16px;
}

.decline-button {
  cursor: pointer;
  padding: 2px 8px;
  text-decoration: none; /* Remove underline */
  color: var(--white); /* Use the color from the parent */
  background-color: var(--red);
  margin-left: 5px;
}

.decline-button i {
  margin-right: 2px;
  font-size: 16px;
}

.make-payment-button {
  cursor: pointer;
  padding: 2px 8px;
  text-decoration: none; /* Remove underline */
  color: var(--black); /* Use the color from the parent */
  background-color: var(--yellow);
}

.make-payment-button i {
  margin-right: 2px;
  font-size: 16px;
}


.update-button {
  cursor: pointer;
  padding: 2px 8px;
  text-decoration: none; /* Remove underline */
  color: var(--black); /* Use the color from the parent */
  background-color: var(--blue);
  color: var(--white);
}

.update-button i {
  margin-right: 2px;
  font-size: 16px;
}


.approve-button,
.decline-button,
.make-payment-button,
.update-button {
    display: inline-block;
    border: none;
    outline: none;
}

#paymentForm {
  max-width: 300px;
  margin: 20px auto;
  padding: 15px;
}

#paymentForm label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 16px;
}

#paymentForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#updateForm {
  max-width: 500px;
  margin: 10px auto;
  padding: 15px;
}

#updateForm label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 16px;
}

#updateForm input, #updateForm select{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

